<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Acá van el nombre de la key y el nombre del SP-->
    <add key="ValidaLogin" value="SP_Login_ME" />
    <add key="getOlasSSCC" value="usp_GetOrdersToEnlistFromSSCC_ME" />
    <add key="getOlasCertificar" value="SP_GetOrdersToEnlist_ME" />
    <add key="getPedidosOla" value="SP_GetPedidoOla" />
    <add key="getDetallePedido" value="SP_DetallePedidoME" />
    <add key="certLineaSSCC" value="CertificarLineaSSCC_ME" />
    <add key="certificarOla" value="certificarOla_VP" />
  </appSettings>
  <connectionStrings>
    <!-- STRING DE CONEXION ADO-->
    <add name="*********" providerName="System.Data.SqlClient" connectionString="Data Source=************;     Initial Catalog=***********;     Persist Security Info=True;     User ID=**;     Password=****;" />
  
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>